/* common start  */
body{
  margin: 0;
  background-color: bisque;
  /* height: 100%; */
}
/* common end */
/* header start  */
.banner{ 
  /* border: 2px solid red; */
}
.banner_img{}
.banner_img img{
  width: 100%;
  height: 200px;
  /* border-radius: 2px; */
}
/* header end */
/* blog1 start  */
.blog{
  overflow: hidden;
  border: 1PX solid red;
}
.content{
  float: left;
}
.b_img{
 
}
.b_img img{
  border: 1PX solid green;
  width: 50%;
  float: right;
  margin: 18px 0px 0 60px
}
.c_title{
  margin: 20px 0 30px;
  font-size: 21px;
  font-weight: 600;
}
.c_text{
  margin-top: -23px;
  line-height: 17px;
  width: 40%;
}

/* blog1 end */